AddDefaultCharset utf-8
AddType text/x-component .htc
Options +Includes +FollowSymLinks -Indexes
DirectoryIndex index.php

RewriteEngine on 
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]
RewriteRule .*\.(txt|csv)$ index.php [R,NC]  
<Files ~ "\config.ini$">
deny from all
</Files>