input[type=text], input[type=email], input[type=password], textarea, select{
	border:1px solid #b8b8b8;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
	font-size:14px;
	margin:5px 0;
	color:#363d42;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	border:1px solid #be7dc6;
}
textarea{
	width:450px;	
}
select{
	font-style:normal;	
}
input[type=submit], .submit{
	padding:4px 23px;
	color: #5b5f61; /* text color */
	font-size: 18px;
	cursor:pointer;
	border: 1px solid rgba(0,0,0,.15); /* stroke */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,1,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,1,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,1,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,1,.1) 0%, rgba(255,255,255,.1) 100%); /* gradient overlay */

}

input[type=submit]:hover{
	border: 1px solid #888;
}
label{
	display: inline-block;
    padding-top: 10px;
    vertical-align: top;
    width: 102px;
}