html{
	height:100%;		background: #ffffff;
}
body{
	font-family: Arial, sans-serif;
	font-size: 13px;
	color:#545454;		background: #ffffff;
    height: 100%;
	margin:0;
    padding: 0;

}
a{
	color:#e41919;
	text-decoration:none;
}
a:hover{
    color:#444444;
}
p{
	margin:0 0 10px;
}
a img{
	border:none;
}
h1, h2, h3, h4	,h5{
	color:#3b1a00;
}
.clear{
	clear:both;
}
#holder {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#overlay {
    background-color: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#banner {
    background: url(../images/banner.png) no-repeat;
    width: 830px;
    height: 30px;
    margin: 0 auto;
}
.holder {
    width: 960px;
    margin: 0 auto;
}
#head{
	background: url(../images/head.png) 50% 0 no-repeat;
	height:34px;
    padding: 15px 0;
}
#header {
    background: url(../images/header-bg.png) #fffaea 0 100% repeat-x;
    height: 54px;
}
#head_menu {
    height: 100px;
}
#login {
    float: right;
    margin-top: 12px;
}
#login span {
    color:#8f8e8f;
}
#logo{
    width: 85px;
    float: left;
    height: 23px;
    margin-left: -7px;
    background: url(../images/logo-bg.png) no-repeat;
    padding: 11px 22px;
}
#logo_big{
	margin-right:50px;	
}
#phones{
	width:225px;
	margin-left:30px;
}
#head_menu div {
    float: left;
    margin-top: 13px;
    color: #363636;
}
#exchange {
    margin: 0 18px;
    width: 100px;
}
#deliver {
    width: 95px;
}
#phones p {
    font-size: 19px;
    line-height: 27px;
    margin: -5px 0 0 0;
}
#login_form {
    background: none repeat scroll 0 0 #f5f5f5;
    left: 42%;
    position: absolute;
    top: 150px;
    width: 280px;
    border: 0;
    z-index: 1000;
}
#login_form input[type="text"], #login_form input[type="password"]{
    width: 220px;
    margin: 5px 0;
}
#registration_form input[type="text"], #registration_form input[type="email"], #registration_form input[type="password"] {
    width: 290px;
    margin: 5px 0;
}
#registration_form p {
    padding: 0;
}
#login_form input[type="submit"] {
    background: none;
    margin: 0 5px;
    text-align: center;
    margin-left: 80px;
    width: 70px;
    color: #e39796;
    text-transform: uppercase;
    text-decoration: underline;
}
#registration_form input[type="submit"] {
    background: none;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    width: 100px;
    color: #e39796;
    text-transform: uppercase;
    text-decoration: underline;
}
#registration_form {
    background: none repeat scroll 0 0 #f5f5f5;
    left: 42%;
    position: absolute;
    top: 150px;
    width: 350px;
    border: 0;
    z-index: 1000;
}
#registration_form .title {
    color: #000;
    width: 350px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
}
#login_form form, #registration_form form {
    margin: 0 20px;
}
#registration_form textarea {
    resize: none;
    width: 290px;
    height: 100px;
}
#login_form #close_btn, #registration_form #close_btn {
    position: absolute;
    right: -5px;
    top: -10px;
}
#login_form .title {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 15px;
    width: 280px;
    margin: 0;
}
#registration_form .title {
    padding-left: 15px;
}
.button {
    border: 1px solid #d6d6d6; /* stroke */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #e1031d; /* layer fill content */
    background-image: -moz-linear-gradient(bottom, #e1e1e1 0%, #ededed 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #e1e1e1 0%, #ededed 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #e1e1e1 0%, #ededed 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #e1e1e1 0%, #ededed 100%); /* gradient overlay */
    display: block;
}
.head-menu-button {
    width: 78px;
    text-align: center;
    padding: 3px 0;
    height: 16px;
}

#fitting {
    margin-left: 32px;
    padding: 3px 35px;
    width: 95px;
    background: url(../images/fitting.png) no-repeat;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.bot_text {
    float: left;
    margin-top: 50px;
}
.bot_text p {
    font-size: 12px;
    line-height: 20px;
    color: #4b4a4a;
    font-style: normal;
}
#cart{
	width:280px;
    float: left;
	padding:10px 0 0 30px;
}
#bascket{
	margin: 5px;
	height:60px;
    width: 171px;
	color:#3b1a00;
	font-size:13px;	
	background-image:url(../images/bascket.png);
	background-repeat:no-repeat;
	padding:8px 0 0 50px;
	line-height:16px;
}
#bascket a{
	color:#3b1a00;
	display:block;
}
#bascket a:hover{
	color:#555;
}
.search-bar {
    height: 30px;
    padding: 20px 0;
}
.search-bar a {
    float: right;
}
.search-bar .link {
    color: #d63346;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 7px;
    margin-right: 25px;
}
.leave-message {
    width: 185px;
    height: 18px;
    text-align: center;
    padding: 5px 0;
}
.leave-message img {
    margin-right: 5px;
}
.search {
    background: url(../images/search.png) no-repeat;
    width: 510px;
    height: 29px;
    float: left;
}
.search input[type='text'] {
    border: none;
    width: 410px;
    color: #868686;
    padding-left: 5px;
    outline: none;
    height: 15px;
    margin: 4px;
}
.search button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 12px;
    font-size: 14px;
}
#left_col{
    width: 230px;
    float: left;
	margin: 0 40px 0 0;
    min-height: 580px;
}
#right_col{
    width: 670px;
    float: left;
    min-height: 580px;
	padding:10px 0 0 0;
}
#left_menu{
	margin:0 0 35px 0;	
}
#left_menu ul{
	padding:0;
	margin:0;
	list-style:none;
}
#left_menu ul ul{
	padding:0;
}
#left_menu li{
	background-image:url(../images/left_title.jpg);
	background-repeat:no-repeat;
	padding:0 0 0 20px;
	margin:0 0 10px 0;
}
#left_menu li li{
	border:none;
	background-image:url(../images/bullet.jpg);
	background-repeat:no-repeat;
	background-position:0 12px;
	margin:0;
	padding:0 0 0 15px;
}
#left_menu li li li{
	background-image:url(../images/bullet_s.jpg);
	background-position:0 9px;
	padding:0 0 0 12px;
	margin:0 0 0 3px;
}
#left_menu li a{
	font-size:16px;
	display:block;
	padding:8px 0;
	color:#3b1a00;
}
#left_menu li li a{
	font-size:15px;
	font-style:italic;
	color:#196867;
	padding:5px 0;
}
#left_menu li li li a{
	font-size:13px;
	padding:1px 0;
	color:#4d4d4d;
}
#left_menu li li li a:hover{
	text-decoration:underline;	
}
#left_menu li a:hover, #left_menu li.cur_product a{
	    color:#444;
}
.footer-fix {
    clear: both;
    height: 450px; /*footer height*/
}
#footer{
    background: #f1f1f1;
    height: 450px;
    margin-top: -450px;
    padding-top: 20px;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.exchange-block {
    background: url(../images/red_cloth.png) no-repeat;
    float: left;
    width: 534px;
    height: 185px;
}

.exchange-block p {
    font-size: 13px;
}
.exchange-block>div {
    width: 200px;
    margin-left: 150px;
}
.exchange-block .title {
    font-size: 19px;
    color: #ce0d20;
    font-family: 'open sans', sans-serif;
    line-height: 16px;
}
.exchange-block a {
    text-decoration: underline;
    color: #cb1024;
}
.addr-menu {
    float: left;
    width: 370px;
    margin-left: 55px;
    height: 185px;
}
.addr-menu li {
    list-style-type: none;
}
.addr-menu li p {
    font-size: 14px;
    font-style: italic;
}
.addr-menu li a {
    font-size: 13px;
}
.addr-menu>p {
    float: left;
    margin-top: 13px;
    line-height: 23px;
}
.addr-menu>ul>li {
    float: left;
    width: 50%;
}
.addr-menu>ul>li>ul>li {
    height: 21px;
}
.recommend-block {
    border: 1px solid #dfd9c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: url(../images/thumbs_up.png) 140px 10px no-repeat;
    float: left;
    width: 150px;
    height: 210px;
    padding: 10px;
}
#brands-main {
    float: left;
    padding: 10px;
}
#brands-main p {
    margin-top: 20px!important;
    margin-bottom: 5px!important;
}
#brands-main a {
    margin-top: 7px!important;
}
.more-brands {
    color: #6d6038;
    font-style: italic;
    font-size: 12px;
}
.more-brands span {
    text-decoration: underline;
    margin-right: 3px;
}
#left-col p {
    float: left;
    clear: both;
    color: #6d6038;
    font-size: 14px;
    margin: 0;
    font-style: italic;
}
#left-col a {
    float: left;
    clear: both;
    margin-top: 12px;
}
#left-col {
    float: left;
    width: 170px;
}
#right-col {
    width: 775px;
    float: right;
}
.cat-img {
    width: 166px;
    height: 190px;
}
.product{
	margin:0 16px 20px 0;
	width:150px;
    height: 320px;
	float:left;
}
.photo_product{
   
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 145px;
}
.photo_product img{
	 border: 1px solid #dfd9c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.catalog-content .razd {
    float: left;
    height: 290px;
    width: 20px;
}
.photo_product img.border{
	position:absolute;
	z-index:1;
	padding:0;
	margin:-1px 0 0 -2px;
}
#params li {
    list-style-type: none;
    float: left;
    width: 100%;
}
#params .razd {
    margin: 5px 0;
    border-bottom: 1px solid #e4d6b4;
}
#params label {
    color: #816a32;
    line-height: 24px;
    font-weight: bold;
    font-style: italic;
}

#more_photo{
	margin-top:20px;	
}
#more_photo img.border{
	position:absolute;
	z-index:1;
	padding:0;
	margin:0;
	width:146px;
	height:94px;
}
#more_photo div{
	width:146px;
	float:left;
	margin:0 28px 20px 0;	
}
.info_product {
    text-align: center;
}
.prod-price {
    color: #6d6038;
    font-family: 'Arial', sans-serif;
    font-style: italic;
	
}
.prod-price font {
    vertical-align: text-top;
    display: inline;
    font-size: 14px;
}
.prod-price span {
    font-size: 27px;
}
.prod-price .old_price span{
	text-decoration:line-through;
	font-size:18px;	
}
.new_price{
	color:#F00;	
}
.name_product{
	color:#323232;
	font-size: 14px;
	font-style:italic;
	text-align:center;
	height:40px;
	margin-top:3px;
	display:table-cell;
	vertical-align:middle;
	width:150px;
}
.name_product a{
	text-decoration:underline;	
}
.name_product a:hover{
	text-decoration:none;	
}
.product_desc{
	font-style:italic;
	margin-top:10px;	
}
.status{
	position:absolute;
	margin:-7px 0 0 154px;
	z-index:4;
}
.copy a{
	padding:5px 15px;
	font-size:12px;
}
.paging{
	text-align:right;
	margin:10px;

	font-size:16px;
}
.paging a{
	padding: 1px 5px;
	margin:2px;

}
.paging span{
	margin:2px;
	padding: 1px 5px;
	
	color:#000;
	font-weight:bold;
}
.paging a:hover{
	color:#000;
}
.err{
	color:#f40000;
	padding:2px;
	margin:0 0 10px 0;	
}
.done{
	color:#7ac800;
	padding:2px;
}
.copy{
	width:690px;
	float:left;
	padding-top:46px;
}
#feedback_other .submit{
	margin:5px 3px 0 0;	
}
#feedback_other input[type=button]{
	background-color:transparent;
	border:none;
	color:#333;
	font-size:12px;
	font-style:italic;
	font-family:Trebuchet MS;
}
.title{
	margin:0 0 10px 0;
	color:#3b1a00;
	font-size:20px;
	padding-bottom:5px;
	display:table;
	font-style:italic;
}
.title span{
    color: #67a128;
}
.navigation-pipe{
	padding:5px;
	font-size:12px;
}
#feedback_other{
    padding:0;
	width:688px;
	margin:45px auto 15px auto;
}
#feedback_other label{
    display:block;
    margin:10px 0 3px 0;
    font-size:14px;
}
#feedback_other input[type=text], #feedback_other textarea{
    width:240px;
	-moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 7px; /* CSS3 */
}
#feedback_other input[type=text]{
	margin-bottom:8px;
}
#feedback_other textarea{
	height:40px;
	width:400px;
}
#feedback_other h3{
    color:#323232;
	font-style:italic;
    font-size: 13px;
	font-weight:normal;
    margin:0;
    text-align:center;
}
#message{
    height:15px;
    color:red;
    font-size: 12px;
	text-align: center;
}
#slider{
    margin:0 auto 30px auto;
}
#img_load{
    float: left;
    width: 302px;
	margin:-2px 0 5px 0;
	position:relative;
	z-index:1;
}
#img_load img{
	border:1px solid #e0dac8;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.photoblock {
    width: 302px;
    float: left;
}
.photoblock p {
    float: left;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}
.more-photo {
    margin-top: 10px;
    float: left;
}
.more-photo ul{
	margin:0;
	padding:0;	
}
.more-photo li:nth-child(3n+1){
    margin-left: 0;
}
.more-photo li a img {
    width: 86px;
    height: 130px;
}
.more-photo li {
    list-style-type: none;
    float: left;
    margin:0 0 15px 22px;
}
.order-block {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff5d3;
    width: 585px;
    padding: 20px;
    float: left;
}
.order-block label {
    float: left;
    color: #816a32;
    font-style: italic;
    font-size: 13px;
}
.product-specs p {
    color: #816a32;
    font-style: italic;
    font-size: 13px;
	
}

.product-specs span {
    color: #272623;
}
.product-description {
    margin-top: 38px;
    float: left;
    width: 100%;
}
.brend_logo{
	width:160px;
	float:left;	
}
.product-specs {
    padding-left: 20px;
    width:144px;
	float:left;
    height: 135px;
    border-left: 1px solid #e4d6b5;
    margin-bottom: 20px;
}
.product-specs a {
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
}
#product_right{
	width:625px;
    margin-left: 30px;
	float:left;
}
#product_name{
	font-size:24px;
	font-weight:normal;
	color:#363636;
}
.product_in .price span{
    font-size:34px;
    color: #c71e32;
}
.product_in .price{
	font-size:16px;
	color:#363636;
    float: left;
	width:300px;
}
.total {
    float: left;
    margin-top: 20px;
}
.total p {
    margin-top: 12px;
    font-size: 16px;
    float: left;
}
.total .primerka {
    font-size: 13px;
}
.total .primerka a {
    color:#363636;
    text-decoration: underline;
}
.buy{
    background: url(../images/buy.png) no-repeat;
    cursor: pointer;
    margin: 0 15px;
    border: none;
    outline: none;
	width: 237px;
    float: left;
    height: 45px;
}
.recalc{
	background-image:url(../images/recalc.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:transparent;
	width:16px;
	height:26px;
	border:none;
	margin-left:5px;
	cursor:pointer;
}
.contact_form{
	font-size:11px;
	margin:0 auto;
	width:270px;
	padding:20px 15px;
	margin-top:15px;
	position:relative;
}
.contact_form label{
	display:block;
	margin:10px 0 2px 0;
}
.contact_form input[type=text], .contact_form input[type=password], .contact_form textarea, .contact_form select{
	width:250px;	
}
.contact_form input[type=text], .contact textarea{
	margin:3px 0;
	width:250px;
}
.contact_form h2{
	font-size:15px;
}

.blue_but{
	background-image:url(../images/button_blue.png);
	background-repeat:no-repeat;
	display:table;
	width:171px;
	height:34px;
	font-size:14px;
	color:#2f547e;
	padding-top:12px;
	margin-bottom:3px;
}
.blue_but img{
	float:left;
	margin:-6px 8px 0 10px;
}
#news_block{
	margin:0 0 15px 25px;
	
}
.news_block{
	margin:0 0 15px 0;

	padding-bottom:15px;
}
.news_title{
	display:block;
	color:#535251;
	padding:0 0 5px 0;
	font-size:16px;
}
.news_desc{
	font-size:12px;
	margin-bottom:5px;
}
.all_news{
	font-size:14px;
	text-decoration:underline;	
}
.all_news:hover{
	text-decoration:none;	
}
.date{
	color:#5d777c;
	font-size:12px;
	margin:0 0 5px 0;
}
.start_title{
	color:#b61238;
	font-size:17px;
	margin:0 0 15px 0;
}
.cat{
	width:166px;
	height:343px;
    border: 1px solid #e0dac8;
	float:left;
	margin:0 0 34px 34px;
	font-size:18px;
}
.cat a{
	color:#6d6038;
    font-size: 12px;
    font-style: italic;
}
.cat-block {
    position: absolute;
    width: 137px;
    padding: 15px;
}
.cat-block a {
    float: left;
    line-height: 17px;
    clear: both;
}
.cat-block a:hover{
	text-decoration:underline;
}
.cat img.cat_border{
	position:absolute;
	width:auto;
	height:auto;
}
.cat .name {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}
.cat .name a{
    color: #e41919;
    float: none;
    text-decoration: underline;
    font-size: 14px;
}
.cat .name a:hover{
    text-decoration: none;
}
.subscribe-block {
    margin-top: 10px;
    margin-bottom: 40px;
    background: url(../images/subscribe-block.png) no-repeat;
    width: 960px;
    height: 66px;
}
.subscribe-block p {
    color: #6d6038;
	margin:0;
}
.subscribe-block span {
    font-weight: bold;
    font-size: 14px;
}
.subscribe-block .left {
    float: left;
    margin: 10px;
    width: 265px;
}
.subscribe-block #subscribe_form {
    height: 50px;
    width: 390px;
    margin: 10px;
    float: left;
}
.subscribe-block #subscribe_form div {
    float: left;
    margin-right: 3px;
}
.subscribe-block .right {
    float: left;
    background: url(../images/subscribe-mail.png) 15px 7px no-repeat;
    width: 150px;
    height: 53px;
    padding-top: 15px;
    padding-left: 100px;
}
.subscribe-block .right a {
    color: #6d6038;
}
.review-block {
    float: left;
    width: 100%;
}
.review-block p {
    float: left;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #7c7152;
    font-size: 24px;
}
.review-block .bubble {
    background: url(../images/bubble.png) no-repeat;
    float: right;
    padding-top: 15px;
    padding-left: 30px;
    width: 135px;
    height: 95px;
}
.review-block .bubble a {
    font-size: 16px;
    font-style: italic;
    color: #6d6038;
    font-family: Arial, sans-serif;
}
#subscribe-name {
    width: 125px;
}
#subscribe_form input[type="submit"] {
    margin-top: 25px;
	
	font-size:12px;
    width: 32px;
}
#subscribe-email {
    width: 205px;
}
#breadcrumbs{
	margin:0 0 15px 5px;	
	font-size:12px;
	color:#d73548;
}
#breadcrumbs a{
	color:#363636;	
}
#breadcrumbs a:hover{
	text-decoration:underline;	
}
#breadcrumbs span{
	padding:0 2px;
	color:#444;
}
.sub-cats {
    display: table;
    width: 100%;
}
.sub-cats div {
    float: left;
    margin-right: 30px;
    display: table-cell;
}
.sub-cats a{
	font-size:12px;
	color:#d73548;
	text-decoration:underline;	
}
.sub-cats a:hover, .hov_sub_cat a{
	text-decoration:none;
}
.hov_sub_cat a{
	font-weight:bold;	
}
.brown_but{
	background-image:url(../images/brown_but.png);
	text-align:center;
	color:#f5eee5;
	width:98px;
	height:28px;
	display:block;
	font-weight:bold;
	font-style:italic;
	font-size:13px;
	padding-top:9px;
}
.brown_but:hover{
	color:#f4dab5
}
.catalog {
    width: 100%;
    float: left;
    margin: 15px 0;
}
#left_menu2 {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color:#816a32;
    background-color: #fff5d3;
    padding: 15px;
    width: 260px;
    min-height: 350px;
    display: block;
}
#left_menu2 p {
    font-style: italic;
    margin-bottom: 5px;
}
#load_filter{
	margin:0;
	padding:0;	
}
.catalog .left-col {
    float: left;
    width: 650px;
    margin-right: 20px;
}
.catalog .right-col {
    float: left;
    width: 290px;
}
#check_bg .brown_but{
	margin:15px auto;	
}
#slider_right{
	width:370px;
	float:left;
	margin:10px 0 0 65px;
	text-align:justify;
}
#slider_right a{
	color:#dbbb59;	
}
#slider_right a:hover{
	color:#b48c14;
}
.productin-count {
    float: left;
    margin: 10px 0;
    clear: both;
    background: url(../images/count.png) no-repeat;
    width: 80px;
    height: 29px;
}
.productin-count a {
    float: left;
    width: 20px;
    height: 100%;
}
.productin-count input[type=text] {
    float: left;
    width: 38px;
    text-align: center;
    height: 16px;
    outline: none;
    background: transparent;
    border: none;
    margin: 6px 0;
}
.paramchoose {
    float: left;
    margin: 10px 0;
    width: 580px;
}
.paramchoose .selected {
    -moz-box-shadow: 0 0 5px rgba(49,135,29,.75);
    -webkit-box-shadow: 0 0 5px rgba(49,135,29,.75);
    box-shadow: 0 0 5px rgba(49,135,29,.75);
}
.param-sel {
    float: left;
    cursor: pointer;
    padding-top: 7px;
    text-align: center;
    border: 1px solid #dfd9c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    color: #484848;
    font-size: 12px;
    width: 40px;
    height: 21px;
    margin-right: 15px;
}
.price_bg{
	background-image:url(../images/price_bg.png);
	background-repeat:no-repeat;
	width:59px;
	height:51px;
	color:#efe5cd;
	font-size:20px;
	padding:7px 0 0 11px;
	font-style:italic;
	position:absolute;
	margin:-179px 0 0 206px;
}
.price_bg font{
	font-size:12px;	
}
#title_slide, .block_title{
	font-size:21px;
	color:#3b1a00;
	font-style:italic;
	padding-bottom:4px;
	margin:15px 0 20px 0;
	display:table;
}
.block_title{
	display:block;
	margin:0 0 10px 0;	
}
#other{
	color:#363636;
	font-size:24px;
	margin:50px 0 15px 0;	
}
#content {
    margin-bottom: 20px;
	min-height:300px;
}
.checkbox {
    background-image: url(../images/checkbox.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 0 0 0 18px;
	margin:0 50px 0 0;
    cursor: pointer;
}
.checkbox:nth-child(2n){
	margin-right:0;
}
.checkbox.checked {
    background-image: url(../images/checkbox_check.png);
}
.checkbox.uncheck {
    background-image: url(../images/checkbox_uncheck.png);
    color: #4e5153;
}
#results_search ul {
    position: absolute;
    margin-top: 28px;
    margin-left: 0;
    width: 422px;
    background: #fff;
    z-index: 999999999;
    border: 1px solid #d5d5d5;
}
#results_search ul li:hover {
    background: #f5f5f5;
}
#results_search ul li {
    list-style-type: none;
    height: 42px;
}
#results_search li a img {
    float: left;
    margin: 5px 10px;
}
#results_search .s_link {
    color: #e41919;
    float: left;
    display: block;
    width: 100%;
    text-decoration: underline;
    font-size: 13px;
    line-height: 39px;
    margin-left: 10px;
}
.back_orders{
	display:block;
	margin-bottom:15px;
	text-decoration:underline;
	color:#444;	
}
.back_orders:hover{
	text-decoration:none;	
}
.noactive{
	opacity:0.5;
	cursor:default;	
}