#sign_up label{
	display:block;
	margin:5px 0 2px 0;	
}
#sign_up input[type=text], #sign_up input[type=password]{
	width:250px;	
}
#sign_up input[type=text]#captcha{
	width:100px;	
}
#sign_up input[type=submit]{
	margin:5px 0 2px 0;		
}
#col_leftU{
	width:350px;
	float:left;
	min-height:400px;
	margin:0 108px 0 0;	
}
#col_rightU{
	width:265px;
	float:left;
	min-height:400px;	
}

.orders{
    border: 1px solid #3c1a00;
    border-collapse: collapse;
}
.orders, .price_tab a{
	color:#af8274;
}
.orders th{
	color:#fff;
    border: 1px solid #3c1a00;
    background-color: #816a58;
    padding: 3px;
}
.orders td{
    text-align: center;
	color:#000;
}
.orders tr{
	background-color: #fff7eb;
}
.orders tr:nth-child(2n){
	background-color: #fff;
}